.container {
  width: 100%;
  max-width: 120rem;
  margin: 5rem auto;
  box-shadow: var(--border-shadow);
  background-color: var(--color-slate-50);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-template-rows: 1fr;

  @media only screen and (max-width: $bp-large) {
    margin: 0;
  }
}

.cart {
    display: flex;
    flex-direction: column;
}

.payment {
    flex: 1;
    background-color: var(--color-gray-100);
}

.wrapper{
  margin: 0 3.3rem;
  margin-bottom: auto;
}

.wrapper_container {
  position: relative;
}



